.create-date {
    margin-top: 2px;
}

.blog-title {
    margin-bottom: 0;
}

.blog-link > h2 {
    margin-bottom: 0;
}

.return {
    color: #db342f;
}

.topic-header {
    padding: 10px;
    background: radial-gradient(ellipse at bottom, #ffffff 0%, #dcdde7 100%);
}

.blog-section {
    min-height: 400px;
}

.topic-name {
    margin-bottom: 0;
    margin-top: 10px;
}