.dashboard-name, .user-blogs {
    background-color: #0f131c;
    color: white;
    font-weight: normal;
    margin-left: -10px;
    margin-right: -10px;
}

.dashboard-name {
    padding: 20px;
    margin-top: -1px;
}

.user-blogs {
    padding-bottom: 20px;
}

.choose-topic-link {
    display: block;
    color: #db342f;
}

.user-blogs {
    margin-top: -1px;
}

.user-blogs-list {
    min-height: 480px;
}