.logo {
    max-width: 60px;
    display: inline-block;
    margin-left: 40%;
    margin-right: 40%;
  }
  
  .logo-text {
    vertical-align: 15px;
    margin-left: 10px;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    padding-left: 10px;
  }

  header {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
  }

  header * {
    display: inline-block;
  }

  @media (min-width: 750px) {
    header {
      padding: 0;
      padding: 50px;
      padding-top: 100px;
    }
  }
  
  

    