textarea {
    width: 300px;
    height: 350px;
}

@media (min-width: 515px) {
    textarea {
        width: 500px;
        height: 350px;
    }
}


@media (min-width: 1200px) {
    textarea {
        width: 829px;
        height: 499px;
    }
}