h2 {
    font-weight: normal;
    font-size: 28px;
    color: #000;
}

.topic-form {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding-top: 10px;
}

.topic-header {
    min-height: 0;
    padding: 0;
}

#topicName {
    width: 100%
}

.topic-input {
    width: 80%;
}

.form-input {
    display: block;
}

@media (min-width: 496px) {
    .topic-form > button {
        width: 100px;
        padding-left: 23px;
        margin-left: 10px;
    }

    .form-input {
        text-align: right;
        display: inline-block;
    }
}