.add-new-topic {
    width: 20px;
    
}

.topic-form * {
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 13px;
}

.topic-label {
    display: block;
}

.topicName {
    display: block;
}