h2 {
    font-weight: normal;
    font-size: 25px;
    color: #000;
}

.topic-form {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding: 20px;
}

.topic-header {
    min-height: 0;
    padding: 0;
}

.topic-input {
    width: 80%;
}

.form-input {
    display: block;
}

@media (min-width: 496px) {
    .topic-form > button {
        margin-top: 8px;
    }
    .form-input {
        text-align: right;
        display: inline-block;
    }
    h2 {
        font-size: 28px;
    }
}

@media (min-width: 1000px) {
    h2 {
        font-size: 35px;
    }
}