* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: "lato", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav {
  padding: 2% 0;
  background-color: #db342f;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header {
  padding: 12% 0;
  padding-top: 16%;
}

section {
  min-height: 200px;
  padding: 6%;
  background: radial-gradient(ellipse at bottom, #ffffff 0%, #f3f4f8 100%);
  border: #b5b5ce solid 1px;
  margin-left: -10px;
  margin-right: -10px;
}


.like-button {
  width: 20px;
}

footer {
  margin-left: -8.5px;
  padding: 20px;
  position: absolute;
  width: 100%;
  background-color: #0f121d;
  color: #fff;
}

input {
  display: inline-block;
  padding: 0.4em 1.8em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em .4em;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000;
  width: 80%;
  font-size: 16px;
  background: radial-gradient(ellipse at bottom, #ffffff 0%, #b5b5ce 100%);  max-width: 200px;
  max-width: 250px;
}

button {
  display: inline-block;
  padding: 0.4em 1.8em;
  border: 0.1em solid #ffffff;
  margin: 1.3em 0.3em 0.3em .4em;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 80%;
  font-size: 16px;
  background: none;
  max-width: 250px;
}

  button:hover {
    color:#db342f;
    background-color:#FFFFFF;
  }

.github-link, .linkedin-link {
  width: 20px;
  color: #fff;
  margin-left: 10px
}