* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: "lato", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 2% 0;
  background-color: #000;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background: radial-gradient(ellipse at bottom, #f3f4f8 0%, #a8adc7 100%);
  border: black solid 2px;
  margin-left: -10px;
  margin-right: -10px;
}


.like-button {
  width: 20px;
}