* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: "lato", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 12% 0;
  padding-top: 16%;
}

section {
  min-height: 200px;
  padding: 6%;
  background: radial-gradient(ellipse at bottom, #ffffff 0%, #f3f4f8 100%);
  border: #b5b5ce solid 1px;
  margin-left: -10px;
  margin-right: -10px;
}


.like-button {
  width: 20px;
}

footer {
  margin-left: -8.5px;
  padding: 20px;
  position: absolute;
  width: 100%;
  background-color: #0f121d;
  color: #fff;
}

input {
  display: block;
  padding: 0.4em 1.8em;
  border: 0.1em solid #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  width: 250px;
}

button {
  display: block;
  padding: 0.4em 1.8em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  background-color: #121922;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
}

  button:hover {
    color:#db342f;
    background-color:#FFFFFF;
    border: 0.1em solid #121922;
  }

.github-link, .linkedin-link {
  width: 20px;
  color: #fff;
  margin-left: 10px
}

p {  
  font-size: 17px;
}

@media (min-width: 496px) {
  p {  
    font-size: 19px;
  }
}